html {
  /* font-size: 100px; */
  font-size: 50px; /* 缩小一半方便调试 */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #decade;
}
